.item
{
	padding-bottom: 20px;
}
.item .text h3 a
{
	    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.item .text h3 a:hover
{
	text-decoration: none;
}

#content .product .text
{
	text-align: center;
}
.cartBtn{
	margin-bottom: 10px;
}
