.top{
    background-color: #555451;
    height: 50px;
    width: 100%;
    margin: -7px;
}
#onlinecrafts{
    height: 25%;
}

.menu {
    padding-top: 1px;
    margin: 0;
    text-align: right;
    font-size: 15px;
    margin-right: 100px;
    word-spacing: 20px;
    list-style: none;
}

.menu a{
    color: lightgrey;
    cursor: pointer;
    text-decoration: none;

}

.menu a:hover, a:focus{
    text-decoration: underline;
    color: white;
}
.logobar{
    margin-left: 0px; 
}

.log_button {
    background-color: white;
    border: none;
    color: black;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    margin-top: 7px;
}

.log_button:hover,.log_button:active,.log_button:focus {
  background: #4fbfa8;
}





.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
